.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
   border-radius: 6px;
   padding: 6px 18px;
   font-size: 14px;
   line-height: 1.42857143;
   box-shadow: none;
   border:none;
}

.btn-brimary{
    color:#fff;
    background-color:#111934;
    border-color:transparent;
    
}

