.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  box-shadow: none;
  border: none;
}

.btn-brimary {
  color: #fff;
  background-color: #111934;
  border-color: transparent;
  padding: 6px 18px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 6px;
  &:hover {
    color: $white;
  }
}
.btn-color {
  color: $white;
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 12px;
}
.btn-warning-c {
  background: $btn-warning;
}
.btn-danger-c {
  background: $btn-danger;
}
.btn-success-c {
  background: $btn-success;
}
.btn-info-c {
  background: $btn-info;
}

.btn-dark {
  background-color: #111934;
  background: #111934 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000014;
  border-radius: 10px;
  height: 50px;
  color: white;
  font-weight: bold;
  &:hover,
  &:active,
  &:focus {
    background-color: #111934;
    background: #111934 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000014;
    border-radius: 10px;
    height: 50px;
    color: white;
    font-weight: bold;
  }
}
.btn-gray {
  background: #cfd1d6 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000014;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 15px;
  font-weight: bold;

  color: black;
  &:hover,
  &:active,
  &:focus {
    background: #cfd1d6 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000014;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 15px;
    font-weight: bold;

    color: black;
  }
}

.btn-status-success {
  color: white;
  font-size: 12px;
  width: 80px;
  padding: 10px 0;
  cursor: pointer;
  border: 1px solid #e7e8eb;

  &:hover,
  &:active {
    color: white;
    cursor: pointer;
  }
}

.btn-status-closed {
  background: #ffffff;
  font-size: 12px;
  width: 80px;
  padding: 10px 0;
  color: #707585;

  margin-right: 10px;
  border: 1px solid #e7e8eb;
  &:hover,
  &:active {
    color: #707585;
    cursor: pointer;
  }
}
.btn-gray-footer,
.btn-dark-footer {
  width: 120px;
  margin-bottom: 10px;
  padding: 8px 15px;
  background-color: #cfd1d6;
  color: #111934;
  font-size: 12px;

  &:hover,
  &:active,
  &:focus {
    background-color: #cfd1d6;
    color: #111934;
  }
}
.btn-dark-footer {
  color: white;
  background-color: #111934;
  font-size: 12px;
  &:hover,
  &:active,
  &:focus {
    color: white;
    background-color: #111934;
  }
}

.btn-error,
.btn-count {
  font-size: 13px;
  background: white;
  border: 1px solid #e7e8eb;
  color: $gray-bold;
  /* padding: 0 30px; */
  width: 120px;
  padding: 8px 0;
  font-weight: bold;
  margin-bottom: 35px;
  font-size: 12px;
  &:hover,
  &:active,
  &:focus {
    font-size: 13px;
    background: white;
    border: 1px solid #e7e8eb;
    color: $gray-bold;
    cursor: pointer;
    /* padding: 0 30px; */
    width: 180px;
    padding: 8px 0;
    font-weight: bold;
  }
  img {
    width: 12px;
    margin-left: 5px;
  }
}

.button-footer-box {
  margin-top: 30px;
}
