.info {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  list-style: none;
  align-items: center;
  padding: 15px;
  background-color: white;
  color: #111934;
  box-shadow: 0px 2px 2px #00000014;

  border-radius: 5px;
  .title-info {
    color: #111934;
    font-weight: bold;
  }
  .btn-danger-c {
    &:hover {
      color: white;
    }
  }
}
