.table-container-box {
  background-color: $white;
  .title-table {
    font-weight: bold;
    font-size: $font-size-lg;

    padding-right: 15px;
  }
}
.table #example {
  @include margin-top;
  padding: 15px 0;
  border: none;
}

.table-head {
  background: #e7e8eb;
  font-weight: bold;
  align-items: center;
  grid-auto-rows: minmax(5px, auto);
  padding: 0 !important;
  border-left: 1px solid #cfd1d6;
  border-right: 1px solid #cfd1d6;
  border-bottom: none;
  font-size: 12px;
  .our-cell {
    color: #111934;
  }
}

.table {
  @media (max-width: $maxwidthMobile) {
    overflow-x: scroll;
  }
}
.table > thead > tr > th {
  border-bottom: none;
}

.table-striped > tbody > tr:nth-child(odd) {
  background: none;
  border: none;
}
.table-bordered > tbody > tr > td {
  border: none;
  border-bottom: 1px solid #d4d4e9;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border: none;
}

td.our-cell {
  font-size: 12px;
  color: #707585;
  vertical-align: middle;
  padding: 10px 15px !important;
}
th.our-cell.sorting_disabled {
  padding-right: 15px;
}

table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: #eee;
}

table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "";
  /* sort */
}
table.dataTable thead .sorting_asc:after {
  content: url("../../../img/sort-arrows-icon.svg");

  /* sort-by-attributes */
}
table.dataTable thead .sorting_desc:after {
  content: url("../../../img/sort-arrows-icon.svg");

  /* sort-by-attributes-alt */
}

.dataTables_scrollBody {
  background-color: white;
  border: none;
  box-shadow: 0px 2px 2px #00000014;
}

.table-bordered {
  border: none;
  box-shadow: 0px 2px 2px #00000014;
  margin-bottom: 30px;
}
.top-search {
  padding: 0;
}
.dataTables_filter {
  display: flex;
  .search-query {
    width: 460px;
    margin-left: 5px;
    margin-right: 30px;
  }
}
