/*padding*/
$padding-midum: 15px;
$padding-small: 1px;

/*color*/
$blue-light: #0885c2;
$blue-bold: #111934;
$gray-light: #a0a3ae;
$gray-bold: #707585;
$yallow-light: #ffd059;
$main-color: #111934;
$white: #fff;
$light-error: #d9727f;
$light-error2: #d9727f1a;
$gray-light-2:#E7E8EB;
$gray-bold-2:#CFD1D6;


/*font*/
$font-size: 12px;
$font-head2: 15px;
$font-size-lg:20px;
$font-size-lg2:40px;

