.main-plane-controaller {
  .p-l-r{
      padding:0 30px;
      margin-top: 25px;
  }
.side-nav {
  margin-bottom: 15px;
  padding: 15px 0;
  .top {
    img {
      width: 20%;
    }
    .sub {
      margin-top: 8px;
    }
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
  }
}
.card-list {
  flex-basis: 200px;
  padding: 15px 0;

  .list-group {
    .item {
      list-style: none;
      a {
        display: block;
      }
      .link-list {
        display: flex;
        align-items: center;
        padding: 12px;
        text-decoration: none;
        font-size: $font-size;
        transition: all 0.5s ease-in-out;
        color: $blue-bold;

        &:active {
          background-color: $gray-light-2;
          font-weight: bold;
        }
        &:hover {
          font-weight: bold;
          color: $blue-bold;
          background-color: $gray-light-2;
          border-right: 2px solid $yallow-border;
        }
        img {
          margin-left: 5px;
          width: 18px;
        }
      }
    }
  }
}
.main-controaller-content-top{
.title {
  font-weight: bold;
  @include margin-top;
  font-size: $font-size-lg;
}
}
.main-controaller-content {
 
  .card {
    display: flex;
    width: 100%;
    @include margin-top;
    .item-card {
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding: 15px 0;

      .info-item {
        padding-right: 15px;
        direction: rtl;

        .num {
          font-size: $font-size-lg1;
          font-weight: bold;
          display: inline;
          .small {
            font-size: 15px !important;
            display: inline;
          }
        }
        .info {
          font-size: $font-size;
          color: $gray-light;
          font-weight: bold;
          margin-top: 12px;
        }
      }
    }
    :not(:last-child) {
      @include margin-left;
    }
  }
}
}

