.content {
  display: flex;
  align-items: stretch;

  .main-plane {
    display: flex;
    width: 95%;
    justify-content: space-between;
    .nav-sidebar {
      display: flex;
      flex-flow: column;
      flex-grow: 4;
      .nav-sidebar-card {
        @include margin-bottom;
        .top {
          img {
            width: 20%;
          }
          .sub {
            margin-top: 8px;
          }
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-weight: bold;
        }
      }
      .card-list {
        flex-basis: 200px;
        flex-basis: 200px;
        .list-group {
          display: grid;
          grid-template-rows: repeat(50px, auto);
          grid-auto-rows: minmax(30px, auto);

          align-items: center;
          .item {
            padding: 10px 30px 10px 10px;
            transition: all .7s ease-in-out;
            display: block;
            overflow: hidden;
            &.active {
              background-color: $gray-light-2;
              border-right: 1px solid $yallow-border;
            }
            &:hover {
              background-color: $gray-light-2;
              border-right: 1px solid $yallow-border;
              font-weight: bold;

            }

            a {
              text-decoration: none;
              font-size: 13px;
              color: $blue-bold;
           
              img {
                width: 15px;
                margin-left: 3px;
              }
            }
          }
        }
      }
    }
    .content-controal {
      flex-grow: 6;
      align-items: stretch;
      display: flex;
      flex-flow: column;
      @include margin-right;
      .title {
        font-weight: bold;
        @include margin-top;
        font-size: $font-size-lg;
      }
      .card {
        display: flex;
        width: 100%;
        @include margin-top;
        .item-card {
          flex-basis: 33.33%;
          display: flex;
          flex-flow: column;
          justify-content: center;
          .info-item {
            padding-right: 30px;
            direction: rtl;

            .num {
              font-size: $font-size-lg1;
              font-weight: bold;
              display: inline;
              .small {
                font-size: 15px !important;
                display: inline;
              }
            }
            .info {
              font-size: $font-size;
              color: $gray-light;
              font-weight: bold;
              margin-top: 12px;
            }
          }
        }
        :not(:last-child) {
          @include margin-left;
        }
      }
      .table {
        @include margin-top;
      }
    }
  }
}
