.header .container .content-header .nav {
  .custom-nav {
    display: flex;
    justify-content: flex-end;
  }
}

.main-plane-controaller {
  .main-controaller-content {
    .title {
      margin-bottom: 0;
    }
    .container-card-box {
      margin-bottom: 15px;
    }
  }
}

// .box2{
//     display: grid;
//     grid-template-columns:2fr 7fr;
//     align-items: center;
//     grid-auto-rows: minmax(35px, auto);
// }
