* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  unicode-bidi: embed;
  scroll-behavior: smooth;
  font-family: "Cairo";
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
h3,
h1,
h2,
h4,
h5 {
  font-family: "Cairo";
}

.container {
  width: 80%;
  margin: auto;
}
/*margin*/
body {
  background-color: #f5f5f5;
  font-family: "Cairo";
}
.reset-padd-bootstrap {
  padding-left: 0;
  padding-right: 0;
}

// .col-lg-3 {
//   width: 25%;
//   float: right;
// }
// .col-md-3 {
//   float: right;
//   width: 25%;
//   padding: 0;
// }
// .col-md-7 {
//   width: 58.33333333%;
//   float: right;
// }
// .col-md-5 {
//   width: 41.66666667%;
//   float: right;
// }

// .p-l-r {
//   padding: 0 30px;
// }
// .col-md-6 {
//   width: 50%;
//   float: right;
// }
// .col-md-6-l {
//   width: 75%;
//   float: left;
// }
// .col-md-12 {
//   width: 100%;
//   padding: 0;
// }
// .nav-tabs >li{
//   float:right
// }
// .col-md-8 {
//   float: right;
//   width: 66.66666667%;
//   padding: 0;
// }
// .col-md-4 {
//   float: right;
//   width: 33.33%;
//   padding: 0;
// }

// .row {
//   margin-right: 15px;
//   margin-left: 15px;
// }
span {
  display: block;
}
.reset-row {
  margin: 0;
}
.reset-padding {
  height: 35px;
}
.reset-padding-right {
  padding-right: 5px;
}
.progress-bar {
  float: right !important;
  border-radius: none;
}
.progress {
  border-radius: none !important;
}
// /*----------3.Cards----------*/
// .card {
//   position: relative;
//   margin: 2% 5px 2% 5px;
//   background-color: #fff;
//   transition: box-shadow 0.25s;
//   border-radius: 2px;
//   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
//   padding: 0;
//   min-width: 400px;
//   max-width: 500px;
// }
// .card .card-image img {
//   display: block;
//   border-radius: 2px 2px 0 0;
//   position: relative;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   width: 100%;
// }
// .card .card-content {
//   padding: 15px 10px 0 0;
//   border-radius: 0 0 2px 2px;
// }

// .card .card-content p {
//   margin: 0;
//   font-size: 1.45rem;
//   color: #555555;
// }
// /*----3.a.Horizontal----*/
// .card.horizontal .card-image img {
//   height: 100px;
//   width: 100px;
// }

// .card.horizontal {
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
// }
// .card.horizontal.small .card-image,
// .card.horizontal.medium .card-image,
// .card.horizontal.large .card-image {
//   height: 100%;
//   max-height: none;
//   overflow: visible;
// }
// .card.horizontal .card-image img {
//   width: 150px;
//   height: 150px;
//   margin-right: 20px;
// }
// .card.horizontal .card-stacked {
//   -webkit-flex-direction: column;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
//   position: relative;
// }
// .card.horizontal .card-stacked .card-content {
//   -webkit-flex-grow: 1;
//   -ms-flex-positive: 1;
//   flex-grow: 1;
// }
// .card .card-image {
//   position: relative;
// }

.m-b-0 {
  margin-bottom: 0;
}
